<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="1">

  <test name="Set">
		<parameter name="browser" value="chrome"/>
		<groups>
			<run>
				<exclude name="toFix"></exclude>
			</run>
		</groups>
		<classes>
			<class name="test.TestScript">
			</class>
		</classes>
  </test> <!-- Test Set -->
  
</suite> <!-- Test Suite -->
